$color1: #201E43;
$color2: #134B70;
$color3: #508C9B;
$color4: #EEEEEE;

.primaryBlue{
    color: $color1;
}

.secondaryBlue{
    color: $color2;
}

.tertiaryBlue{
    color: $color3;
}

.bg-color{
    color: $color4;
}